.segment {
    display: grid;
    gap: 10px 10px;
    background: var(--background-color);
    padding: 5px 0px;
}

@media (max-width: 650px) {
    .segment {
        display: flex;
        flex-direction: column;
        padding: 0px 0px;
    }
    .segment img {
        padding: 5px 0px;
    }
    .segment p {
        align-self: flex-start !important;
        text-align: left !important;
    }
}

.segment-intro {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'left .';
    padding-bottom: 1em;
}
.segment-narrative {
    padding-top: 1em;
    padding-bottom: 1em;
}

@media (max-width: 650px) {
    .segment-intro {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
          'left';
    }
    .segment-narrative {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

.segment-top { grid-area: top; }
.segment-left { grid-area: left; }
.segment-middle { grid-area: middle; }
.segment-right { grid-area: right; }
.segment-bottom { grid-area: bottom; }
.segment-topleft { grid-area: topleft; }
.segment-topright { grid-area: topright; }
.segment-botleft { grid-area: botleft;}
.segment-botright { grid-area: botright; }
.segment-full { grid-area: full;}
